body {
    font-family: system-ui,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: inline-block;
    width: 1000px;
    margin: 0 calc((100% - 1000px)/2);
    margin-bottom: 60px;
}

.container:last-child {
    margin-bottom: 0;
}

/* header style */

.logo {
    float: left;
}

.main-nav {
    float: right;
}

.main-nav a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-left: 50px;
}

.main-nav a:first-child {
    margin: 0;
} 

.main-nav a:hover {
    text-decoration: underline;
    color: #649;
    cursor: pointer;
}


/* main style */

.left-column {
    float: left;
    width: 40%;
    margin-top: 50px;
}

.right-column {
    float: right;
    width: 55%;
}
.main-title {
    font-size: 60px;
    margin: 0;
    font-weight: 800;
}

.main-title > span {
    font-weight: 100;
    display: block;
}

.main-title::after {
    content: '';
    display: block;
    width: 120px;
    height: 3px;
    margin-top: 10px;
    background-color:#649;
    box-shadow: 3px 4px 12px #FBD647;
}

.left-column .description {
    font-size: 18px;
    margin-bottom: 45px;
}

/* footer style */

.socials {
    float: left;
}
.socials a {
    text-decoration: none;
    font-size: 20px;
    color: #CBCCCC;
}

.copyright {
    float:right;
    margin: 0;
}